amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.23
django-widget-tweaks==1.4.1
gunicorn==19.7.1
idna==2.6
kombu==4.1.0
psycopg2==2.7.3.2
pytz==2017.3
redis==2.10.6
requests==2.20.0
urllib3==1.26.5
vine==1.1.4
whitenoise==3.3.1
