<h1>Salesforce Code Clean</h1>
<p>
    This application scans all the (non-packaged) Apex Classes in your Org to builds a table of where each property, variable and method is used. Useful for cleaning up unused code.
</p>
<p>
    Only Apex Class metadata is captured from your Org. This data is stored within the app for 24 hours and then completely wiped. If you are sensitive about sharing your Org metadata with this app, I suggest you either don't use it, or run a local version by downloading the source code.
</p>
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Note:</strong>
    <ul>
        <li>You will need to be a Author Apex permissions to use this application.</li>
        <li>This application uses multiple API calls to your Salesforce Org to retrieve metadata and execute the logic it needs to run. Each Salesforce Org has a 24 hour limit of API calls it can make, and may break other integrations if you exceed this limit.</li>
    </ul>
</div>