<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="salesforce, salesforce.com, force.com, scan, clean, apex, code scanner, apex scanner" />
        <meta name="description" content="Scan all Apex Code in your Salesforce Org and determine methods and classes not being used." />
        <meta name="author" content="Ben Edwards (ben@edwards.nz)" />
        
        <title>Salesforce.com Apex Code Scanner</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="shortcut icon" type="image/png" href="/static/icons/favicon.ico"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        {% block css %}{% endblock %}
    </head>     

    <body>

        <!-- Static navbar -->
        <nav class="navbar navbar-default">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/" class="orange" style="color: #ff6600 !important;font-size: 1.2em;">
                                <i class="fa fa-code orange" aria-hidden="true"></i>
                                &nbsp;
                                Apex Code Scanner
                            </a>
                        </li>
                        <li>
                            <button class="btn btn-default" data-toggle="modal" data-target="#apiModal" style="margin-left:20px;margin-top:8px;">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                API
                            </button>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://cloudtoolkit.co/" target="_blank">Salesforce Toolkit</a>
                        </li>
                        <li>
                            <a href="https://github.com/benedwards44/sfcodeclean" target="_blank">Source Code</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/benedwards44" target="_blank">@benedwards44</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-info-circle fa-lg orange" aria-hidden="true" data-toggle="modal" data-target="#infoModal"></i>
                            </a>
                        </li>
                    </ul>

                </div><!--/.nav-collapse -->

            </div><!--/.container-fluid -->

        </nav>

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog small_dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="apiModalLabel">
                            Salesforce Apex Code Scanner
                        </h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            For any errors or issues, please feel free to contact me on twitter <a href="https://twitter.com/benedwards44" target="_blank">@benedwards44</a> or via email <a href="mailto:ben@edwards.nz">ben@edwards.nz</a>.
                        </p>
                        <p>
                            I am constantly trying to update and improve this application, as well as other apps I'm working on. Feel free to contact me if you'd like to contribute or have any ideas. All my applications are open sourced on GitHub at <a href="https://github.com/benedwards44" target="_blank">https://github.com/benedwards44</a>.
                        </p>
                        <p>
                            If you haven't already, check out my other apps at the Salesforce Toolkit Page:<br/>
                            <a href="https://sftoolkit.co/" target="_blank">https://sftoolkit.co/</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="apiModal" tabindex="-1" role="dialog" aria-labelledby="apiModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="apiModalLabel">
                            API Details
                        </h3>
                    </div>
                    <div class="modal-body">
                        <h4>Step 1 - Start Job</h4>
                        Send a POST request to start your job. <br/>
                        <strong>Endpoint:</strong> <pre>https://sfcodeclean.herokuapp.com/api/job/</pre>
                        <strong>Payload</strong>:
<pre>{
    "accessToken": "VALID_SALESFORCE_ACCESS_TOKEN",
    "instanceUrl": "SALESFORCE_ORG_URL"
}</pre>

                        You will then receive an ID for the job. You use this ID to check the status of your job, and ultimately retrieve the results.
<pre>{
    "id": "6210f461-0a4b-437d-be39-f885d6f3e543",
    "success": true
}</pre>

                        <br/>
                        <h4>Step 2 - Check Progress</h4>
                        The API runs asynchronously, as jobs can take some time to run depending on the size of your code base. You need to check the status of the job, and when complete you can get your results. Send a GET request to: <br/>
                        <strong>Endpoint:</strong> <pre>https://sfcodeclean.herokuapp.com/api/job/status/JOB_ID (eg. https://sfcodeclean.herokuapp.com/api/job/status/6210f461-0a4b-437d-be39-f885d6f3e543)</pre>
                        <strong>Response:</strong>
<pre>{
    "status": "Processing",
    "done": false,
    "success": false,
    "error": null
}</pre>
                        The done and success variables will help you determine when your job is complete, and if it's successful.

                        <br/>
                        <h4>Step 3 - Get Results</h4>
                        And finally, you can get your results. Send a GET request to: <br/>
                        <strong>Endpoint:</strong> <pre>https://sfcodeclean.herokuapp.com/api/job/JOB_ID (eg. https://sfcodeclean.herokuapp.com/api/job/6210f461-0a4b-437d-be39-f885d6f3e543)</pre>
                        <strong>Response:</strong>
<pre>[
    {
        "DatabaseId": 123 // The app database Id of the class. Not really relevant for the API
        "ApexClassId" "01pb0000004oZiU" // The Salesforce Apex Class Id
        "Name": "AccountController" // The Salesforce name of the class
        "SymbolTable": {
            // The full SymbolTable for the class
        }
    },
]</pre>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}

    </body>

</html>
