{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <h1 class="pull-left">Scan Results</h1>
    <h2 class="pull-right">{{ job.username }} <small>{{ job.org_id }}</small></h2>

    <div class="clearfix"></div>

    <hr/>

    <div ng-app="codeResultsApp">

        <div ng-controller="CodeResultsController" ng-init="init('{{ job.slug }}')">

            {% verbatim %}

            <div class="col-md-6 col-md-offset-3" ng-show="loading">
                <div class="pull-left">
                    <img src="/static/images/loading.gif" alt="Loading" title="Loading" />
                </div>
                <div class="pull-right" style="float:left;margin-left:20px;">
                    <h1 style="font-size:1.5em;margin-top:20px;">Loading...</h1>
                    <p>Building your code scan results...</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div ng-show="!success">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="alert alert-info alert-dismissible" role="alert" ng-show="!loading && success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Note: Currently this app only shows <strong>Apex Class</strong> dependencies. It does not show code used within VisualForce pages, components, or Lightning Components.
            </div>

            <table class="table table-hover" ng-show="success">
                <tbody>
                    <tr ng-repeat-start="class in classes" data-toggle="collapse" data-target="#{{ class.Id }}" class="clickable" ng-click="toggleIcons('#'+class.Id)">
                        <td>
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
                            {{ class.Name }}
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm" ng-click="openModal(class.Name, class.AppId)">
                                View Class
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat-end id="{{ class.Id }}" class="collapse">
                        <td>
                            <table class="table">
                                <tbody>
                                    <tr data-toggle="collapse" data-target=".{{ class.Id }}-references" class="clickable" ng-click="toggleIcons('.'+class.Id+'-references')">
                                        <td>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            &nbsp;&nbsp;External References
                                        </td>
                                    </tr>
                                    <tr ng-repeat="reference in class.SymbolTable.externalReferences" class="{{ class.Id }}-references collapse">
                                        <td class="padding-left-20">{{ reference.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% endverbatim %}

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="viewCodeModal" tabindex="-1" role="dialog" aria-labelledby="viewCodeModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width: 1100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="viewCodeModalLabel"></h4>
                </div>
                <div class="modal-body" id="viewCodeBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'js/jquery-migrate-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.syntaxhighlighter.min.js' %}"></script>   
    <script>
        $.SyntaxHighlighter.init();
    </script>

    <!-- Angular scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-resource.min.js"></script>

    <!-- Angular controller -->
    <script src="{% static 'js/job.js' %}"></script>
    
{% endblock %}